<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Unused Sites Program</h1>
    </aside>
</div>

<div class="group">
    <div class="btn-row">
        <button class="btn btn-primary">ADD NEW UNUSED SITE</button>
    </div>
</div>

<div class="group">
    <div class="row">
        <div class="half text-left">
            Show X entries dropdown
        </div>
        <div class="half text-right">
            Search: 
        </div>
    </div>
</div>

<div class="group">
    <div class="table-responsive">
        <table class="table table-default">
            <thead>
                <tr>
                    <th>DISTRICT NAME</th>
                    <th>DISTRICT CODE</th>
                    <th>UNUSED SITE NAME</th>
                    <th>CURRENT ASSESSED VALUE</th>
                    <th>CURRENT ASSESSED FEE</th>
                    <th>FISCAL YEAR</th>
                    <th>STATUS</th>
                    <th>SUBMITTED ONLINE</th>
                    <th>OPSC APPROVE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="group">
    <div class="row">
        <div class="half text-left">
            Shoowing 1 to x of Y entries
        </div>
        <div class="half text-right">
            Previous 1 2 3 4 5 Next
        </div>
    </div>
</div>