<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Unused Sites Program - Add a Site</h1>
    </aside>
</div>
<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Unused Site Information</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="third">
                <label for="schoolDistrictName">
                    <span class="required-label">*</span>SCHOOL DISTRICT
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="schoolDistrictName" placeholder="Enter School District">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="schoolCountyName">
                    <span class="required-label">*</span>COUNTY
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="schoolCountyName" placeholder="Enter County">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="schoolSiteName">
                    <span class="required-label">*</span>SITE NAME
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="schoolSiteName" placeholder="Enter Site Name">
            </div>
        </div>
        @* Date can be generated when form is submitted! *@
        @*<div class="row form-group">
                <div class="third">
                    <label for="agentTitle">
                        <span class="required-label">*</span>DATE
                    </label>
                </div>
                <div class="two-thirds">
                    <input type="text" class="form-control" id="todaysDate" placeholder="Enter date">
                </div>
            </div>*@
    </div>
</div>
<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Section I - Add a Site - Refer to EC 17219(a)</h3>
    </div>
    <div class="panel-body">
        <div class="row text-center"><label>Please check one.</label></div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site newly aquired.
                </label>
            </div>

        </div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site  received through donation.
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site not previously reported.
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site no longer qualifies as a used site. (Refer to General Information, "Type of Use", items 1-6)
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="dateAquired"><span class="required-label">*</span>Date Site was Aquired:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="dateAquired" placeholder="Enter Date Site was Aquired">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="aquisitionPrice"><span class="required-label">*</span>Aquisition Price/Site Value:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="aquisitionPrice" placeholder="Enter Aquisition Price/Site Value">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="numAcres"><span class="required-label">*</span>Numbers of Acres</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="numAcres" placeholder="Enter Numbers of Acres">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="gradeLevel"><span class="required-label">*</span>Grade Level Start:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="gradeLevel" placeholder="Enter Starting Grade Level">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="gradeLevel"><span class="required-label">*</span>Grade Level End:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="gradeLevel" placeholder="Enter Ending Grade Level">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="countyAssessor"><span class="required-label">*</span>County Assessor's Parcel Number:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="countyAssessor" placeholder="Enter County Assessor's Parcel Number">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="gradeLevel"><span class="required-label">*</span>Date Site Became Unused:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="gradeLevel" placeholder="Enter Date the Site became Unused">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/custom.js"></script>
<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Section III - Delete This Site</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">    
            <div class="form-check-group row">
            <div class="offset-third two-thirds">
                <label class="select">
                    <span class="sr-only">Reason</span>
                    <select name="deleteReason" id="deleteReason" onchange="deleteFormHandler()">
                        <option value="soldDelete">Site was Sold</option>
                        <option value="purposeDelete">Site is being used for School Purposes</option>
                        <option value="constructDelete">Site is being used for the construction of school facilities</option>
                    </select>
                </label>
            </div>
        </div>
        </div>
        <div id="soldDelete">
            asd1
        </div>
        <div id="purposeDelete" class="hidden">
            asd2
        </div>
        <div id="constructDelete" class="hidden">
            asd3
        </div>
    </div>
</div>
<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Section III - BASIC AID DISTRICT</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">

            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" type="checkbox" name="basicAidSite">
                    <div class="check-icon-checkbox">
                        <i class="ca-gov-icon-check-mark"></i>
                    </div>
                    The fee will not be withheld if it causes the district to receive less than $120 per pupil of average daily attendance in apportionments during the fiscal year the fees are being withheld.
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Section IV - Waive The Fee For This Site</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="form-check-group row">
                <div class="offset-third two-thirds">
                    <label class="select">
                        <span class="sr-only">Reason</span>
                        <select name="waiveReason" id="waiveReason" onchange="waiveFormHandler()">
                            <option value="usedWaive">Site will be used within no more than 3 years</option>
                            <option value="sellWaive">The district attemped to sell this site but received no acceptable bids</option>
                            <option value="leaseWaive">The district is leasing this site for at least one-half of the fiscal year to a tenant who is paying possessory taxes for that year equal to or greater than one percent of the adjusted value of the site</option>
                            <option value="utilizeWaive">The district is utilizing this site for at least one-half of the year for one of the purpose outlined</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div id="usedWaive">
            as
        </div>
        <div id="sellWaive" class="hidden">
            asd2
        </div>
        <div id="leaseWaive" class="hidden">
            asd3
        </div>
        <div id="utilizeWaive" class="hidden">
            asd4
        </div>
    </div>
</div>
<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Section V - Reduce The Fee For This Site</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="form-check-group row">
                <div class="offset-third two-thirds">
                    <label class="select">
                        <span class="sr-only">Reason</span>
                        <select name="reduceReason" id="reduceReason" onchange="reduceFormHandler()">
                            <option value="debtReduce">Reductions in fees for debt service on local bonds used to directly pay for the construction of school facilities</option>
                            <option value="modReduce">Requesting Modification of the adjusted value for this site</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div id="debtReduce">
            as
        </div>
        <div id="modReduce" class="hidden">
            asd2
        </div>
    </div>
</div>

<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Certifications and Submittal</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group text-center">
            By clicking the Submit button
        </div>
        <div class="row form-group text-center">
            <button onclick="location.href='@Url.Action("Dashboard", "UnusedSites")';return false;" class="btn btn-primary">Submit</button>
        </div>
        <div class="row form-group text-center">
            I certify that the above information is true and correct.
        </div>
    </div>
</div>

<!--EOF-->
