<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Unused Sites Program - Add a Site</h1>
    </aside>
</div>

<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>SAB 424 - Section I - Add a Site - Refer to EC 17219(a)</h3>
    </div>
    <div class="panel-body">
        <div class="row text-center"><label>Please check one.</label></div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site newly aquired.
                </label>
            </div>

        </div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site  received through donation.
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site not previously reported.
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-offset-1">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" name="addSite" type="radio">
                    <div class="check-icon-radio">
                        <i></i>
                    </div>
                    Site no longer qualifies as a used site. (Refer to General Information, "Type of Use", items 1-6)
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="dateAquired"><span class="required-label">*</span>Date Site was Aquired:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="dateAquired" placeholder="Enter Date Site was Aquired">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="aquisitionPrice"><span class="required-label">*</span>Aquisition Price/Site Value:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="aquisitionPrice" placeholder="Enter Aquisition Price/Site Value">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="numAcres"><span class="required-label">*</span>Numbers of Acres</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="numAcres" placeholder="Enter Numbers of Acres">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="gradeLevel"><span class="required-label">*</span>Grade Level:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="gradeLevel" placeholder="Enter Grade Level">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="countyAssessor"><span class="required-label">*</span>County Assessor's Parcel Number:</label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="countyAssessor" placeholder="Enter County Assessor's Parcel Number">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Contact Information</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="third">
                <label for="agentName">
                    Authorized Agent Name:
                </label>
            </div>
            <div class="two-thirds">
                INSERT FROM DATABASE???
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="agentTitle">
                    <span class="required-label">*</span>Authorized Agent Title:
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="agentTitle" placeholder="Enter Agent Title">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="agentPhone">
                    <span class="required-label">*</span>Authorized Agent Phone Number:
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="agentPhone" placeholder="Enter Agent Phone Number">

            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/custom.css" />
<script type="text/javascript" src="~/js/custom.js"></script>
<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Options</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="third">
                Request Aid?
            </div>
            <div class="two-thirds">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" type="checkbox" onclick="waiverHandler(this, 'requestAidPanel')">
                    <div class="check-icon-checkbox">
                        <i class="ca-gov-icon-check-mark"></i>
                    </div>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                Waiver Needed?
            </div>
            <div class="two-thirds">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" type="checkbox" onclick="waiverHandler(this, 'waiverPanel')">
                    <div class="check-icon-checkbox">
                        <i class="ca-gov-icon-check-mark"></i>
                    </div>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                Reduce Fees
            </div>
            <div class="two-thirds">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" type="checkbox" onclick="waiverHandler(this, 'reduceFeePanel')">
                    <div class="check-icon-checkbox">
                        <i class="ca-gov-icon-check-mark"></i>
                    </div>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                Extra Option Needed?
            </div>
            <div class="two-thirds">
                <label class="form-check-inline p-l-md m-l-0 m-r-md">
                    <input class="hidden-up pos-abs" type="checkbox" onclick="waiverHandler(this, 'extraPanel')">
                    <div class="check-icon-checkbox">
                        <i class="ca-gov-icon-check-mark"></i>
                    </div>
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <b>Add More options later... If needed....</b>
            </div>
            <div class="two-thirds">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-overstated animate-fadeInUp" id="requestAidPanel">
    <div class="panel-heading text-center">
        <h3>Request Aid</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="third">
                <label class="form-control-label">
                    Request for Aid Reason
                </label>
            </div>
            
        </div>
        <div class="row form-group">

        </div>
    </div>
</div>
<div class="panel panel-overstated animate-fadeInUp" id="waiverPanel">
    <div class="panel-heading text-center">
        <h3>Waivers And Fees</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="third">
                <label for="agentTitle">
                    <span class="required-label">*</span>Authorized Agent Title:
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="agentTitle" placeholder="Enter Agent Title">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="agentPhone">
                    <span class="required-label">*</span>Authorized Agent Phone Number:
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="agentPhone" placeholder="Enter Agent Phone Number">

            </div>
        </div>
    </div>
</div>
<div class="panel panel-overstated animate-fadeInUp" id="reduceFeePanel">
    <div class="panel-heading text-center">
        <h3>Reduce Fee</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="third">
                <label class="form-control-label">
                    Request for fee reduction
                </label>
            </div>

        </div>
        <div class="row form-group">

        </div>
    </div>
</div>

<div class="panel panel-overstated animate-fadeInUp" id="extraPanel">
    <div class="panel-heading text-center">
        <h3>Extra Option</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group">
            <div class="third">
                <label for="agentTitle">
                    <span class="required-label">*</span>Authorized Agent Title:
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="agentTitle" placeholder="Enter Agent Title">
            </div>
        </div>
        <div class="row form-group">
            <div class="third">
                <label for="agentPhone">
                    <span class="required-label">*</span>Authorized Agent Phone Number:
                </label>
            </div>
            <div class="two-thirds">
                <input type="text" class="form-control" id="agentPhone" placeholder="Enter Agent Phone Number">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-overstated">
    <div class="panel-heading text-center">
        <h3>Certifications and Submittal</h3>
    </div>
    <div class="panel-body">
        <div class="row form-group text-center">
            By clicking the Submit button
        </div>
        <div class="row form-group text-center">
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="row form-group text-center">
            I certify that the above information is true and correct.
        </div>
    </div>
</div>

<!--EOF-->
