<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Unused Sites Program</h1>
    </aside>
</div>

<div class="group">
    <div class="row">
        <div class="offset-three-quarters quarter text-center">
            <button class="btn btn-primary">ADD NEW UNUSED SITE</button>
        </div>
    </div>
</div>
<br />
<div class="group">
    <div class="row">
        <div class="quarter">
            <label class="form-check-inline p-l-md m-l-0 m-r-md">
                <input class="hidden-up pos-abs" type="checkbox">
                <div class="check-icon-checkbox">
                    <i class="ca-gov-icon-check-mark"></i>
                </div>
                Sent in?
            </label>
        </div>
        <div class="quarter">
            <label class="select">
                <select name="email" id="email">
                    <option selected>Filter By Year</option>
                    <option>Generate from DB!</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                </select>
            </label>
        </div>
        <div class="quarter">
            <div class="input-group" id="districtCodeSort">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ca-gov-icon-search-right"></i></span>
                </div>
                <input type="text" class="form-control" id="validationFirstName" placeholder="District Code" value="Search By District Code">
            </div>
        </div>
        <div class="quarter">
            <div class="input-group" id="districtCodeSort">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ca-gov-icon-search-right"></i></span>
                </div>
                <input type="text" class="form-control" id="validationFirstName" placeholder="School Name" value="Search By School Name">
            </div>
        </div>
    </div>
</div>
<br />
<div class="group">
    <div class="row">
        <div class="half text-left">
            Show X entries dropdown
        </div>
    </div>
</div>

    <div class="table-responsive">
        <table class="table table-default">
            <thead>
                <tr>
                    <th>DISTRICT NAME</th>
                    <th>DISTRICT CODE</th>
                    <th>UNUSED SITE NAME</th>
                    <th>CURRENT ASSESSED VALUE</th>
                    <th>CURRENT ASSESSED FEE</th>
                    <th>FISCAL YEAR</th>
                    <th>STATUS</th>
                    <th>SUBMITTED ONLINE</th>
                    <th>OPSC APPROVE</th>
                    <th>Fee Waiver</th>
                    <th>Reason</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alta Loma</td>
                    <td>1024</td>
                    <td>Campbell</td>
                    <td>3,412</td>
                    <td>34.12</td>
                    <td>2016</td>
                    <td>Paid</td>
                    <td>No</td>
                    <td>No</td>
                    <td>No</td>
                    <td>No</td>
                    <td>
                        <div class="btn-row">
                            <button class="btn btn-primary">Delete</button>
                            <button class="btn btn-primary">Edit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Bakersfield</td>
                    <td>4876</td>
                    <td>Harding</td>
                    <td>32,145</td>
                    <td>321.45</td>
                    <td>2018</td>
                    <td>Pending</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>No</td>
                    <td>No</td>
                    <td>
                        <div class="btn-row">
                            <button class="btn btn-primary">Delete</button>
                            <button class="btn btn-primary">Edit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Hollister</td>
                    <td>9547</td>
                    <td>Smallwood</td>
                    <td>54,654</td>
                    <td>546.54</td>
                    <td>2017</td>
                    <td>Paid</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>
                        <label class="form-check-inline p-l-md m-l-0 m-r-md">
                            <input class="hidden-up pos-abs" type="checkbox">
                            <div class="check-icon-checkbox">
                                <i class="ca-gov-icon-check-mark"></i>
                            </div>
                        </label>
                    </td>
                    <td>
                        <label class="form-check-inline p-l-md m-l-0 m-r-md">
                            <input class="hidden-up pos-abs" type="checkbox" checked>
                            <div class="check-icon-checkbox">
                                <i class="ca-gov-icon-check-mark"></i>
                            </div>
                        </label>
                    </td>
                    <td>
                        <div class="btn-row">
                            <button class="btn btn-primary">Delete</button>
                            <button class="btn btn-primary">Edit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Loomis</td>
                    <td>1264</td>
                    <td>Taylor</td>
                    <td>27,452</td>
                    <td>274.52</td>
                    <td>2018</td>
                    <td>Pending</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>
                        <label class="form-check-inline p-l-md m-l-0 m-r-md">
                            <input class="hidden-up pos-abs" type="checkbox" checked>
                            <div class="check-icon-checkbox">
                                <i class="ca-gov-icon-check-mark"></i>
                            </div>
                        </label>
                    </td>
                    <td>
                        <label class="form-check-inline p-l-md m-l-0 m-r-md">
                            <input class="hidden-up pos-abs" type="checkbox" checked>
                            <div class="check-icon-checkbox">
                                <i class="ca-gov-icon-check-mark"></i>
                            </div>
                        </label>
                    </td>
                    <td>
                        <div class="btn-row">
                            <button class="btn btn-primary">Delete</button>
                            <button class="btn btn-primary">Edit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<div class="group">
    <div class="row">
        <div class="half text-left">
            Showing 1 to x of Y entries
        </div>
        <div class="half text-right">
            Previous 1 2 3 4 5 Next
        </div>
    </div>
</div>